.contact-me-section {
    background: #4e5259;
}

.contact-form-container {
    max-width: 650px;
    margin: auto;
    padding: 30px 20px;
}

.contact-form {
    flex-direction: column;

    flex-wrap: nowrap;
    justify-content: left;
    align-items: flex-start;
    align-content: flex-start;
}

.contact-form__item {
    width: 100%;
    padding: 5px 15px;

    transition: background-color .25s ease;
}

.contact-form__button {
    padding: 5px;
}
