.contact-me-section {
    background: #4e5259;
}

.contacts-container {
    max-width: 650px;
    margin: auto;
    padding: 0px 20px;
}

.contact-form {
    flex-direction: column;

    flex-wrap: nowrap;
    justify-content: left;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 10px;
}

.contact-form__item {
    width: 100%;
    padding: 5px 15px;

    transition: background-color .25s ease;
}

.contact-form__button {
    padding: 5px;
}

.social-icons {
    display: flex;
    justify-content: center;

    margin: auto;
    padding-top: 20px;
}

.social-icons__icon {
    font-size: 50px;

    display: inline-flex;

    width: 80px;
    height: 80px;
    margin: 0px 10px;

    color: #383a3c;
    border: 2px solid #383a3c;
    border-radius: 50%;
    background: #f5eee3;

    justify-content: center;
    align-items: center;
}
