.site-header {

    background: url("/HTML-CSS-Learn/img/header_background.png");
    justify-items: center;
    padding: 10px 0px;
    border-bottom: 2px dashed #aaa;
}

.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;

    margin: auto;
        align-items: center;
}

.menu__item {
    font-family: Bazar;
    color: #f9ebd9;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;

}

.menu_item--1 {
    grid-column: 1;
}

.menu_item--2 {
    grid-column: 2;
}

.menu_item--logo {
    grid-column: 3;
    background-image: url("/HTML-CSS-Learn/img/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    margin: auto;

}

.menu_item--3 {
    grid-column: 4;
}

.menu_item--4 {
    grid-column: 5;
}

