@font-face {
    font-family: 'Bazar';

    src: url(fonts/Bazar.ttf) format('truetype');
}

.link {
    cursor: pointer;
}

.link:hover {
    transition: all .3s ease;
    transform: scale(1.05);
}

.link_color:hover {
    transform: scale(1.05);

    color: #d45244;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 20px;
}

.landing-section {
    padding: 20px 0;

    border-bottom: 2px dashed #aaa;
}

.section-header {
    font-family: Bazar;
    font-size: 80px;

    text-align: center;

    color: #3a3a3a;
    text-shadow: 1px 1px 0 #fcfaf7,
    3px 3px 0 #3a3a3a;
}

.section-header_light {
    color: #f6edd8;
    text-shadow: 1px 1px 0 #484a4d,
    3px 3px 0 #d4cebf;
}

.img-responsive {
    display: block;

    max-width: 100%;
    height: auto;
    max-height: 100%;
}
