.retro-portfolio-logos-section {

    background: url("/HTML-CSS-Learn/img/header_background.png");
    /* height: 230px; */
    justify-items: center;
    padding-bottom: 30px;
    border-bottom: 2px dashed #aaa;
}

.retro-banner {

    max-width: 300px;
    margin: auto;
    max-height: 130px;
    align-content: center;


}

.retro-ribbon {

    height: 60px;
    text-align: center;
    line-height: 80px;
    color: #545454;

    font-size: 31px;

    background: url("/HTML-CSS-Learn/img/ribbon.png") center no-repeat;
    font-family: Bazar;
}