.retro-portfolio-logos-container{
    width: 100%;
    background: url("/HTML-CSS-Learn/img/header_background.png");
    /* height: 230px; */
    justify-items: center;

}

.retro-banner{
    display:flex;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
   /* height: 130px; */
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

    padding-top: 10px;
}
.retro-banner-title{

    margin-left: auto;
    margin-right: auto;
}

.retro-ribbon{
    /* display: flex; */
    width: 100%;
    height: 124px;
    text-align: center;
    line-height: 104px;
    color: #545454;

    font-size: 31px;

    background: url("/HTML-CSS-Learn/img/ribbon.png") center no-repeat;
    font-family: Bazar;


   /* justify-content: center; /* align horizontal */
    /*align-items: center; /* align vertical */


}