.retro-portfolio-logos-section {
    background: url('../img/header_background.png');
}

.retro-banner {
    max-width: 300px;
    max-height: 130px;
    margin: auto;

    align-content: center;
}

.retro-ribbon {
    font-family: Bazar;
    font-size: 31px;

    text-align: center;

    color: #545454;
}
