
.ribbon {
    font-family: Bazar;
    font-size: 31px;
    line-height: 60px;

    position: relative;

    width: 600px;
    margin: auto;

    text-align: center;

    color: #545454;
    background: #fff1ce;
    box-shadow: rgba(000, 000, 000, .3) 0 1px 1px;
}

.ribbon:before,
.ribbon:after {
    position: absolute;
    z-index: -1;
    bottom: -1em;

    display: block;

    content: '';

    border: 1em solid #fff1ce;
}

.ribbon:before {
    left: -1.5em;

    border-right-width: 1.5em;
    border-left-color: transparent;
    box-shadow: rgba(000, 000, 000, .4) 1px 1px 1px;
}

.ribbon:after {
    right: -1.5em;

    border-right-color: transparent;
    border-left-width: 1.5em;
    box-shadow: rgba(000, 000, 000, .4) -1px 1px 1px;
}

.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
    position: absolute;
    bottom: -1em;

    display: block;

    content: '';

    border-style: solid;
    border-color: #6f797b transparent transparent transparent;
}

.ribbon .ribbon-content:before {
    left: 0;

    border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
    right: 0;

    border-width: 1em 1em 0 0;
}

.ribbon-stitches-top {
    margin-top: 2px;

    border-top: 1px dashed rgba(0, 0, 0, .2);
    box-shadow: 0 0 2px rgba(255, 255, 255, .5);
}

.ribbon-stitches-bottom {
    margin-bottom: 2px;

    border-top: 1px dashed rgba(0, 0, 0, .2);
    box-shadow: 0 0 2px rgba(255, 255, 255, .3);
}

.ribbon-non-semantic-protector {
    position: relative;
    z-index: 1;

    padding-bottom: 30px;
}
